@charset "utf-8";
html{background:#fff;}
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
/*  HTML5  */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
fieldset, img { border:none; }
img{vertical-align:middle;}
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul, li { list-style:none; }
input{ padding:0px; font-family: "微软雅黑";}
input::-moz-focus-inner { border:none; padding:0; }
select, input { vertical-align:middle; }
select, input, textarea { font-size:12px; margin:0; }
input[type="text"], input[type="password"], textarea { outline-style:none; -webkit-appearance:none; }
textarea { resize:none; }
table { border-collapse:collapse; }
body {color:#333; font-size:12px; font-family:"微软雅黑", "Microsoft Yahei", tahoma,arial,"Hiragino Sans GB";  background:#fff; }
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }
.clearit { clear:both; height:0; font-size:0; overflow:hidden;}
a {color:#333333;text-decoration:none;}
a:hover{color:#F67919; text-decoration:none;}
.hidden{visibility:hidden;}
.fl{ float:left;}.fr{float:right;}
.form-select select{border:1px solid #ccc;border-radius:2px;padding:5px 3px;margin-right:11px; width:130px; height:28px; line-height:28px;_vertical-align: bottom; _margin-top:3px;}
.form-select .mr0{ margin-right:0;}

.Cootion{ width:100%; background-color:#f5f5f5; padding:50px 0px;} 
.m_map{ width:900px; height:635px; margin-left; position:relative;  background:url('../assets/img/slideshow/6.jpg') no-repeat 0 0 ;}
.tait{ font-size:36px; font-weight:bold; color:#666666; text-align:center;  left:100px;}
.tait span{ color:#ff6d3b;}
.tait2{font-size:36px; font-weight:bold; color:#666666; text-align:center; padding:50px 0px;}
.mp{ position:absolute; cursor:pointer; background:url(../images/fi1.png) no-repeat 4px 20px; width:24px; height:63px; -webkit-transition:all .2s ease-out; -moz-transition: all .2s ease-out; -ms-transition:all .2s ease-out; -o-transition:all .2s ease-out; transition:all .2s ease-out;}
.mp:hover{ background:url(../images/fi2.png) no-repeat 4px 20px; -webkit-transition:all .2s ease-out; -moz-transition: all .2s ease-out; -ms-transition:all .2s ease-out; -o-transition:all .2s ease-out; transition:all .2s ease-out;}
.hover_tu{background:url(../images/fi2.png) no-repeat 4px 20px;}
.mp .mito{ position:absolute; left:0px; bottom:0px; font-size:12px; color:#666666;}
.mp .find_mi1{ left:-12px; width:55px;}
.mp .find_mi2{ left:-5px; width:55px;}
.feng{ position:absolute; display:none; width:400px; height:180px; left:-230px; top:-78px; background:url(../images/123.png) no-repeat 0 top; z-index:10;}

.feng .sang{ position:absolute; left:235px; bottom:0px; background:url(../images/vf2.png) no-repeat 0 0; width:14px; height:8px;}
.feng .tree{ height:62px; width:330px; margin:9px; }
.feng .tree .boou{ width:86px; height:62px; float:left;}
.feng .tree .du_size{ float:right; height:62px; width:230px;} 
.feng .tree .du_size p{ font-size:12px; color:#FFF; line-height:20px;}
.feng .tree .du_size{ float:right; height:62px; width:230px;} 
.mp1{left:270px; top:155px; }
.mp2{left:420px; top:80px; }
.mp3{left:380px; top:170px; }
.mp4{left:360px; top:220px; }
.mp5{left:590px; top:200px; }
.mp6{left:720px; top:235px; }
.mp7{left:650px; top:275px; }
.mp8{left:420px; top:320px; }
.mp9{left:480px; top:300px; }
.mp10{left:500px; top:290px; }
.mp11{left:520px; top:290px; }
.mp12{left:290px; top:200px; }
/*.mp13{left:668px; top:496px; }*/
/*.mp14{left:742px; top:498px; }*/
/*.mp15{left:699px; top:557px; }*/
/*.mp16{left:618px; top:581px; }*/
/*.mp17{left:646px; top:604px; }*/
/*.mp18{left:692px; top:443px; }*/
/*.mp19{left:727px; top:428px; }*/
/*.mp20{left:761px; top:450px; }*/
/*.mp21{left:694px; top:345px; }*/
/*.mp22{left:745px; top:345px; }*/
/*.mp23{left:681px; top:266px; }*/
/*.mp24{left:711px; top:266px; }*/
/*.mp25{left:790px; top:256px; }*/
/*.mp26{left:825px; top:187px; }*/
/*.mp27{left:864px; top:103px; }*/
/*.mp28{left:573px; top:573px; }*/
/*.mp29{left:746px; top:441px; }*/
/*.mp30{left:673px; top:592px; }*/
/*.mp31{left:779px; top:440px; }*/
/*.mp32{left:604px; top:626px; }*/
/*.mp33{left:806px; top:468px; }*/
/*.mp34{left:753px; top:210px; }*/
/*.mp35{left:753px; top:391px; }*/
/*.mp36{left:596px; top:415px; }*/
/*.mp37{left:575px; top:435px; }*/
/*.mp38{left:589px; top:365px; }*/
/*.mp39{left:575px; top:316px; }*/
/*.mp40{left:612px; top:266px; }*/
/*.mp41{left:778px; top:495px; }*/
/*.mp42{left:718px; top:318px; }*/
/*.mp43{left:653px; top:545px; }*/
/*.mp44{left:769px; top:593px; }*/
/*.mp45{left:800px; top:524px; }*/
/*.mp46{left:633px; top:525px; }*/
/*.mp47{left:499px; top:354px; }*/
/*.mp48{left:763px; top:543px; }*/
/*.mp49{left:798px; top:578px; }*/
/*.mp50{left:722px; top:544px; }*/
/*.mp51{left:706px; top:501px; }*/
/*.mp52{left:743px; top:551px; }*/
/*.mp53{left:406px; top:515px; }*/
/*.mp54{left:570px; top:621px; }*/
/*.mp55{left:658px; top:347px; }*/
/*.mp56{left:651px; top:397px; }*/
/*.mp57{left:492px; top:420px; }*/
/*.mp58{left:549px; top:297px; }*/
/*.mp59{left:704px; top:398px; }*/
/*.mp60{left:556px; top:527px; }*/
/*.mp61{left:551px; top:455px; }*/
/*.mp62{left:582px; top:488px; }*/

/* 代码整理：懒人之家 www.lanrenzhijia.com */